body,
html {
  font-family: Roboto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f9f9;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: 0;
}
button:focus {
  outline: 0;
  border: 0;
}
.root {
  padding: 1rem 0.4rem 2.6rem;
  background: #222;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.15);
  position: relative;
}
.main-container {
  border-radius: 0.4rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
}
.container {
  padding: 0;
}
.display-container {
  text-align: right;
  border-bottom: 1px solid #ddd;
  height: 125px;
}
.result-container, .expression-container {
  width: 220px;
  overflow: hidden;
  position: relative;
  height: 60px;
  font-size: 2rem;
  font-weight: 300;
}
.expression-container {
  height: 30px;
  font-weight: 500;
  opacity: 1;
  font-size: 1rem;
}
.display-container .expression {
  position: absolute;
  right: 0;
  white-space: nowrap;
}
.display-container .result {
  position: absolute;
  right: 0;
  white-space: nowrap;
}
.transition-4s {
  transition: all 0.4s ease-out;
}
.transition-2s {
  transition: all 0.2s ease-out;
}
.result-slide-up {
  transform: translate(-4.41px, -30px);
  font-size: 1rem !important;
  font-weight: 500 !important;
}
.slide-up {
  opacity: 0 !important;
  transform: translateY(-5px);
}
.buttons-container button {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.25rem;
  border-radius: 50%;
  font-size: 1.2rem;
}
.buttons-container button:hover {
  background-color: #f1f1f1;
}
.blinking-cursor {
  animation: blink 0.8s infinite;
  opacity: 1;
  position: relative;
  left: 0px;
  top: -1px;
  font-weight: 300;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.navigation-buttons {
  position: absolute;
  color: #aaa;
  width: 80%;
  bottom: -42px;
  left: 23%;
}
.navigation-buttons i {
  font-size: 18px !important;
}